<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/public/favicon.ico">
    <style>
      .hide {
        display: none;
      }
      nav {
        margin-bottom: 2em;
        border-width: 1px 0;
        border-style: dotted;
        border-color: gray;
      }
    </style>
    <title>Test: SPA (auth0-js)</title>
  </head>
  <body>
    <h1>Test: SPA (auth0-js)</h1>
    <nav>
      <div id="unauthorized">
        <p><button id="loginButton">Login</button></p>
      </div>
      <div id="authorized" class="hide">
        <p><button id="logoutButton">Logout</button></p>
      </div>
      <p><button id="testSilentAuthButton">Test Silent Authentication</button></p>
      <p><button id="testExternalAPIButton">Test External API (apiAuthTest)</button></p>
      <%- include("./commonLinks.ejs", issuerBaseURL)%>
    </nav>
    <section>
      <h2>Tokens</h2>
      <dl>
        <dt>ID Token</dt>
        <dd id="idToken"></dd>
        <dt>Access Token</dt>
        <dd id="accessToken"></dd>
        <dt>External API Response</dt>
        <dd id="externalAPIResponse"></dd>
      </dl>
    </section>
    <script src="/builds/auth0js.bundle.js"></script>
  </body>
</html>
