<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      .hide {
        display: none;
      }
      nav {
        margin-bottom: 2em;
        border-width: 1px 0;
        border-style: dotted;
        border-color: gray;
      }
    </style>
    <title>Test: SPA (auth0-spa-js)</title>
  </head>
  <body>
    <h1>Test: SPA (auth0-spa-js)</h1>
    <nav>
      <div id="unauthorized">
        <p><button id="loginButton" data-testid="login">Login</button></p>
      </div>
      <div id="authorized" class="hide">
        <p><button id="logoutButton" data-testid="logout">Logout</button></p>
      </div>
      <p><button id="testSilentAuthButton">Test Silent Authentication</button></p>
      <p><button id="testExternalAPIButton">Test External API (apiAuthTest)</button></p>
      <%- include("./commonLinks.ejs", issuerBaseURL)%>
    </nav>
    <section>
      <h2>Tokens</h2>
      <dl>
        <dt>ID Token</dt>
        <dd id="idToken"  data-testid="displayIDToken"></dd>
        <dt>Access Token</dt>
        <dd id="accessToken" data-testid="displayAccessToken"></dd>
        <dt>External API Response</dt>
        <dd id="externalAPIResponse"></dd>
      </dl>
    </section>
    <section>
      <h2>Test Login with custom params</h2>
      <p><button id="loginWithCustomParamsButton">Login with custom params</button></p>
      <textarea id="customParams" rows="5" cols="60">
{
  "authorizationParams": {
    
  } 
}
      </textarea>
    </section>
    <script src="/builds/auth0spajs.bundle.js"></script>
  </body>
</html>
