<hr>
<ul>
  <li><a href="/">Select the application type</a></li>
  <li><a href="<%= issuerBaseURL %>/v2/logout">Logout from the tenant (legacy)</a></li>
  <li><a href="<%= issuerBaseURL %>/oidc/logout">Logout from the tenant (OIDC)</a></li>
</ul>