<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      nav {
        margin-bottom: 2em;
        border-width: 1px 0;
        border-style: dotted;
        border-color: gray;
      }
    </style>
    <title>Select the application type</title>
  </head>
  <body>
    <h1>Select the application type</h1>
    <nav>
      <ul>
        <li><a href="/rwa">Regurar Web Application</a></li>
        <li><a href="/spa">Single Page Application</a></li>
        <li><a href="/mfa">MFA Settings</a></li>
      </ul>
    </nav>
  </body>
</html>
