<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      nav {
        margin-bottom: 2em;
        border-width: 1px 0;
        border-style: dotted;
        border-color: gray;
      }
    </style>
    <title>MFA Settings</title>
  </head>
  <body>
    <h1>MFA Settings</h1>
    <nav>
      <%- include("./commonLinks.ejs", auth0Domain)%>
    </nav>
  </body>
</html>
