<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/public/favicon.ico">
    <meta charset="UTF-8" />
    <style>
      form.hiddenForm {
        visibility: hidden;
      }
    </style>
    <title>Progressive Profiling Redirect</title>
  </head>
  <body>
    <form id="hiddenForm" action="<%= continueURL %>" method="post">
      <input type="hidden" value="<%= token %>" name="token">
    </form>
    <script src="/public/submitForm.js"></script>
  </body>
</html>
