<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/public/favicon.ico">
    <title>Progressive Profiling</title>
  </head>
  <body>
    <h1>Progressive Profiling</h1>
    <h2>Session Token</h2>
    <p><%= sessionToken %></p>
    <section>
      <h2>Pass info back to the Action</h2>
      <form action="/rwa/profiling/redirect" method="POST">
        <p>sub: <input value="<%= sub %>" name="sub"></p>
        <p>testClaim: <input value="TEST CLAIM" type="text" name="testClaim"></p>
        <p>state: <input value="<%= state %>" name="state"></p>
        <p><button>Submit</button></p>
      </form>
    </section>
  </body>
</html>
