<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      nav {
        margin-bottom: 2em;
        border-width: 1px 0;
        border-style: dotted;
        border-color: gray;
      }
    </style>
    <title>Select the SDK</title>
  </head>
  <body>
    <h1>Select the SDK</h1>
    <nav>
      <ul>
        <li><a href="/spa/auth0spajs">auth0-spa-js</a></li>
        <li><a href="/spa/auth0js">auth0-js</a></li>
        <li><a href="/spa/lock">lock</a></li>
      </ul>
      <hr>
      <ul>
        <li><a href="/">Select the application type</a></li>
      </ul>
    </nav>
  </body>
</html>
