<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= error %></title>
  </head>
  <body>
    <h1><%= error %></h1>
    <p><%= errorDescription %></p>
    <p><a href="/rwa">Retry</a></p>
  </body>
</html>
