<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Progressive Profiling</title>
  </head>
  <body>
    <h1>Progressive Profiling</h1>
    <h2>Session Token</h2>
    <p><%= sessionToken %></p>
    <h2>Test front-channel data transaction</h2>
    <section>
      <p>The form posts data to the backend of this app, /rwa/profiling/redirect.</p>
      <p>Then the backend code signs the JWT.</p>
      <form action="/rwa/profiling/redirect" method="POST">
        <p>sub: <input value="<%= sub %>" name="sub"></p>
        <p>testClaim: <input value="TEST CLAIM" type="text" name="testClaim"></p>
        <p>state: <input value="<%= state %>" name="state"></p>
        <p><button>Continue with query params</button></p>
      </form>
    </section>
  </body>
</html>
